# Environnements Python
.venv/
__pycache__/
*.pyc

# Notebooks Jupyter
.ipynb_checkpoints/

# Données
data/raw/
data/processed/
data/features/

# Fichiers temporaires / logs
*.log
*.tmp
*.DS_Store

# Outputs
outputs/

# VSCode
.vscode/